<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="userService" class="com.ysd.service.impl.UserServiceImpl"></bean>
	<bean id="vroleService" class="com.ysd.service.impl.RolesServiceImpl"></bean>
	<bean id="StudentService" class="com.ysd.service.impl.StudentServiceImpl"></bean>
	<bean id="askersService" class="com.ysd.service.impl.AskersServiceImpl"></bean>
	<bean id="UserCkeckService" class="com.ysd.service.impl.UserCheckServiceImpl"></bean>
	<bean id="modulesService" class="com.ysd.service.impl.ModulesServiceImpl"></bean>
	<bean id="netfollowsService" class="com.ysd.service.impl.NetfollowsServiceImpl"></bean>
	<bean id="permissionService" class="com.ysd.service.impl.PermissionServiceImpl"></bean>
	<bean id="dynamicmessagesService" class="com.ysd.service.impl.DynamicmessagesServiceImpl"></bean>
	<bean id="bijiService" class="com.ysd.service.impl.bijiServiceimpl"></bean>
	

</beans>
